<html>
	<head>
		<title>Form Data Perwalian</title>
	</head>
	<body>

		<form>
			Form Perwalian
			<hr>
				Kode Perwalian :<input type=text name=kode_perwalian> <br><br>
				NID : <input type="text" name="nid"><br><br>
				NIM :<input type=text name=nim> <br><br>
				Kode Matakuliah :<input type=text name=kode_mk> <br><br>
				Nilai :<input type=text name=nilai> <br><br>
				Status :<input type=text name=status> <br><br>
				Created At :<input type=text name=created_at> <br><br>
				Update At :<input type=text name=updated_at> <br><br>
			<hr>

			<input type=Submit value=Submit>
			<input type=Reset value=Reset>
		</form>
	</body>
</html>
